<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
  <mdb-navbar-brand item-height="45">
    <a class="navbar-brand" href="#">
      <img src="https://acpaas-ui.digipolis.be/assets/digipolis-logo.svg" height="45" width="45" class="d-inline-block align-center"
        alt="">ACPaaS UI
    </a>

  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav pull-xs-right">
      <li class="nav-item active ">
        <a class="nav-link waves-light" mdbWavesEffect>Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>Community</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>Support</a>
      </li>
    </ul>
  </links>
  <button type="button" class="btn btn-primary waves-light" mdbWavesEffect>
    <img src="/assets/github.png" width="20" height="20" align="right">
  </button>

</mdb-navbar>
