<div *ngIf="user">
  <div class="card">
    <div class="card-header">
      <h4>{{user.name}}</h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <img class="img-thumbnail github-avatar" src="{{user.avatar_url}}">
        </div>
        <div class="col-md-8">
          <div class="stats">
            <span class="badge badge-pill badge-primary">{{user.public_repos}} Public Repos</span>
            <span class="badge badge-pill badge-secondary">{{user.public_gists}} Public Gists</span>
            <span class="badge badge-pill badge-info">{{user.followers}} Followers</span>
            <span class="badge badge-pill badge-dark">{{user.following}} Following</span>
          </div>
          <br>
          <ul class="list-group">
            <li class="list-group-item"><strong>Gebruikersnaam: </strong>{{user.login}}</li>
            <li class="list-group-item"><strong>Gebruiker Sinds: </strong>{{user.created_at}}</li>
            <li class="list-group-item"><strong>Locatie: </strong>{{user.location}}</li>
            <li class="list-group-item"><strong>Email: </strong>{{user.email}}</li>
            <li class="list-group-item"><strong>Blog: </strong>{{user.blog}}</li>
          </ul>
      </div>
    </div>
  </div>
</div>
</div>
